<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

  <div class="card bg-light">
    <div class="card-header" th:text="${titulo}"></div>
    <div class="card-body">

      <h4 class="card-title">
        <a th:href="@{/form}" class="btn btn-primary">crear productos</a>
      </h4>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>tipo</th>
          <th>cantidad</th>
          <th>cantidad minima</th>
          <th>valor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto: ${productos}">
          <td><a class="btn btn-primary btn-xs"
                 th:href="@{/ver/} + ${producto.id}" th:text="${producto.id}"></a></td>
          <td th:text="${producto.nombre}"></td>
          <td th:text="${producto.tipo}"></td>
          <td th:text="${producto.cantidad}"></td>
          <td th:text="${producto.cantidadm}"></td>
          <td th:text="${producto.precio}"></td>

        </tbody>

      </table>
      <nav th:replace="paginator-nav :: paginator"></nav>
    </div>
  </div>

</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>